.credits {
    width: 100%;
    box-sizing : border-box;
    padding: 20px;
    line-height: 1.3;
    font-size: 1.4em;
    text-align: center;
}

.credits p {
    margin-bottom: 10px;
}

.credits a {
    color: white;
}